html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  /* TODO: 抽离成全局变量 body-bg */
  background-color: #eee;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/*u can change rem here*/
html {
  font-size: 16px;
}
body {
  overflow-y: overlay;
}

.header {
  @apply border-red-700 opacity-60;
}
